.header{
    width: 100%;
    background-color: var(--blue3-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: background-color .3s;


}
.containeer {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 4.5rem;
}
.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-logo,
.nav-toggle{
    color: white;
    display: flex;   
    align-self: center;
}

.nav-logo{
    
    align-self: center;
    column-gap: .5rem;
    font-weight: bold;
}

.nav-logo img{
    width:110px;
}
.nav-toggle{
    font-size: 1.25rem;
    cursor: pointer;
} 

@media screen and (max-width:1023px){
    .nav-menu{
        position: fixed;
        background-color: hsla(180,12%,8%,.8);
        -webkit-backdrop-filter: blur(32px);
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        border-left: 2px solid gray;
        transition: right .3s;
    }
   
}
/* medium device */
@media screen and (min-width:768px) {
    .nav-menu{
        width: 50%;
    }
    /* .nav-link{
        display: initial !important;
    } */
    
}


.nav-list{
    font-weight: bold;
    padding: 5rem 7rem 0 7rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.nav-link{
    color: var(--main-white-color) !important;
    transition: all .3s !important;
    
}

.activeNavBar{
    color: var(--bright-yellow-color) !important;
    
}
.nav-close{
    position: absolute;
    right: 1.5rem;
    top:1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: right .3s;
}
.show-menu{
    right: 0;
}
.hide{
    display: none;
}

/* large device */
@media screen and (min-width:1023px) {
    .nav{
        height: 5rem;
    }
    .nav-menu{
        width: initial;
    }
    .nav-close,
    .nav-toggle{
        display: none;
        width: 100px;
    }
    .nav-list{
        flex-direction: row;
        padding: 0;
        align-content: center !important;
        column-gap: 1rem;
        margin: 0;
    }
}


.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
    font-weight: bold;
}
.line{
    border: 2px solid var(--bright-yellow-color);
    border-radius: 12px;
    display: block;
}

.signIn .sign{
    color: var(--bright-yellow-color) ;
    border: 1px solid var(--main-white-color);
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
}

@media screen and (max-width:767px) {
    .containeer{
        margin-left: 1.5rem;
    }
    .nav-btn{
        flex-direction: column;
        
    }
}