#line-formm{
    width: 50%;
   
}
/* form */
#form-acc{
    background-color: var(--main-white-color);
    border: 1px solid var(--form-white-color);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100vh;
    border-radius: 25px;
    flex: auto;
}
@media screen and (max-width:767px) {
    #form-acc{
        width: 100%;
    }
    #form-acc input{
        width: 100%;
    }
    .input-logo img{
      right: 10px !important;
    }
    #id-logo{
        top: 8px;
        right: 0px !important;
    }
}
@media screen and (max-width:1023px) {
    #form-acc{
        width: 200%;
    }
    #form-acc input{
        width: 100%;
    }
    .input-logo img{
        right: 10px !important;
      }
    #id-logo{
        top: 8px;
        right: 0px !important;
    }
}

#form-acc label{
    color: var( --label-profile-color) !important;
    font-weight: 600;
    padding: 18px 0;  
}
#form-acc input{
    position: relative;
    padding: 12px 14px;
    border-radius: 25px;
    /* margin-right: 4px; */
    border: 2px solid var(--gray3-color) !important;
    outline: none;
    border: none;
    /* font-size: 18px; */
    font-weight: 500;
    
}
#form-acc ::placeholder{
 color: var(--holder-profile-color);
}
.input-logo {
  position: relative;
}
.input-logo img{
    position: absolute;
    top: 10px;
    /* transform: translateY(50px); */
    right: 35px;
}
#email-logo{
    top: 15px;
}
#natoinal-id{
    padding: 10px  15px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--gray3-color) !important;
    outline: none;
    border: none;
    /* font-size: 18px; */
    font-weight: 500; 
}
#id-logo{
position: absolute;
right: 10px;
bottom:50%;
}
#id-file{
    display: none;
}
/* upload image */
.custum-file-upload {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8e8e8;
    background-color: #212121;
    /* padding: 1.5rem; */
    /* border-radius: 10px; */
}
#output {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    border-radius: 50%; /* Make the image circular */
    z-index: 99; /* Ensure the image is on top of the SVG */
}

#camera{
    position: absolute;
    top: 80%;
    z-index: 9999;
    left: 8%;
}
  
.custum-file-upload input {
    display: none;
}

#national {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    border-radius: 50%; /* Make the image circular */
    z-index: 9999; /* Ensure the image is on top of the SVG */
}



/* birthday */
.birthday-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 10px;
}
  
.birthday-input input {
    width: 50px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 25px !important;
    outline: none;
    /* border: none; */
}
#day{
    text-align: center;
    width: 300px;

}
#month{
    width: 60px;
    text-align: center;
}
#year{
    width: 70px;
    text-align: center;
}
  
.paybal-input input,
.birthday-input input,
.input-logo input{
    padding: 12px 24px !important;
    color: var( --bright-yellow-color);
    font-weight: bold;
}

.editProfile{
    position: relative;
    right: 240px;
    margin-bottom: 10px;
}

@media screen and (max-width:767px) {
    .editProfile{
        margin-left: 230px;
    }
}

#nationalColor{
    color: var( --bright-yellow-color);
}
#nationalform{
    margin-top: -100px;
    display: flex;
    justify-content: center;
}

#save-edit{
    background-color: var(--bright-yellow-color);
    color: var(--main-white-color);
    border: none;
    font-weight: bold;
    padding: 10px 40px;
    margin: 20px auto;
    border-radius: 12px;

}

.button-submit-editProfile{
    color: var(--main-white-color);
    background-color: var(--bright-yellow-color);
    border: none;
    padding: 5px 30px;
    border-radius: 14px;
    font-weight: bold;
    
}